.page {
  display: flex;
  flex-direction: column;
  background: url('../../images/background.png') no-repeat;
  max-width: 1440px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .page {
    background: url('../../images/background-768.png') no-repeat;
    background-size: 768px 400px;
  }
}

@media screen and (max-width: 480px) {
  .page {
    background: url('../../images/background-320.png') no-repeat;
    background-size: contain;
  }
}