.navigation {
  padding: 0 32px;
  display: flex;
  align-items: center;
  gap: 32px;
  color: inherit;
  fill: inherit;
}

.navigation__link {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: inherit;
  fill: inherit;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  padding: 26px 0;
}

.navigation__link_type_active {
  padding-bottom: 23px;
  border-bottom: solid 3px;
}

@media screen and (max-width: 1280px) {
  .navigation {
    padding: 0 16px;
    gap: 16px;
  }

  .navigation__link {
    font-size: 16px;
    padding: 20px 0;
  }

  .navigation__link_type_active {
    padding-bottom: 17px;
  }
}

@media screen and (max-width: 600px) {
  .navigation {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    width: 100%;
    border-top: 1px solid rgba(209, 210, 214, 0.4);
    max-height: 112px;
    background: #1a1b22;
    color: white;
    padding: 16px 0;
  }

  .navigation_type_visible {
    display: flex;
  }

  .navigation__link_type_active {
    padding-bottom: 0;
    border-bottom: none;
  }

  .navigation__link {
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 56px;
    margin-left: 16px;
  }
}
